body{
  text-align: center;
  background: -webkit-linear-gradient(left top, cyan , magenta); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, cyan, magenta); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, cyan, magenta); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, cyan , magenta); /* Standard syntax */
}

h1, h2, h3, h4, h5, h6
{

  font-family: Comic Sans, Comic Sans MS, cursive;
}
