!!! 5
%html{:lang => "en"}
  %head
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:type => "text/css", :rel => "stylesheet", :href => "./css/cat_organ.css"}
    %link{:type => "text/css", :rel => "stylesheet", :href => "http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"}
    %script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js")
    %script(src="http://cdnjs.cloudflare.com/ajax/libs/ocanvas/2.0.0/ocanvas.min.js")
    %script(src="./js/howler.js")
    %script(src="./js/cat_organ.js")
    %meta{:charset => "utf-8"}/
    %title NEO CAT ORGAN 2K15
    %meta{:content => "#CATGODISLOVE #CATGODISLIFE #PRAISECATGOD", :name => "description"}/
    %meta{:content => "Yves DeSousa", :name => "author"}/
    /%link{:href => "/img/", :rel => "shortcut icon"}/
  %body
    .container
      .row
        %img{:src =>"/img/catorganlogo.gif"}
